@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

#navigation li {
        list-style: none;
        display: block;
        float: left;
        margin: 0.5em;
}

#logo a:hover {
        color: rgb(255,255,255);
}

#navigation li a {
        text-shadow: 0 2px 1px rgba(0,0,0,0.5);
        display: block;
        text-decoration: none;
        color: #f0f0f0;
        font-size: 1.6em;
        margin: 0.5em;
}

.containerfooter {
	background: rgb(225, 225, 225);
}

#navigation li a:hover {
	color:rgb(0,0,0);
}

.rectangle {
   background: rgb(255,255,255);
   position: relative;
   -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
   box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   z-index: 500; /* the stack order: foreground */
   margin-bottom: 2em;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 62px;
}

body {
  padding:0px;
  font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#777;
  font-weight:300;
}

label {
	display: block;
	margin-top: 20px;
}

.InputArea {
	border:inset;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 20px;
}

.titlepage {
	position: relative;
	width: 100%;
}

.top {
	position: absolute;
    bottom: 0;
    left: 0.5em;
    width: 400px;
    font-weight: bold;
    color: #fff;
}

form {
	background:rgb(238, 203, 203);
	margin: 0 auto;
	width: 90%;
}

